<div class="overflow-hidden w-full">
  <div class="animate-scroll gap-4"
  (mouseenter)="pauseScroll($event)"
  (mouseleave)="resumeScroll($event)">
    <a href="https://www.typescriptlang.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/typescript.svg" class="w-20 h-20">
    </a>
    <a href="https://tailwindcss.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/tailwind.svg" class="w-20 h-20">
    </a>
    <a href="https://angular.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/angular.svg" class="w-20 h-20">
    </a>
    <a href="https://www.java.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/java.svg" class="w-20 h-20">
    </a>
    <a href="https://spring.io/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/spring.svg" class="w-20 h-20">
    </a>
    <a href="https://vite.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/vite.svg" class="w-20 h-20">
    </a>
    <a href="https://react.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/react.svg" class="w-20 h-20">
    </a>
    <a href="https://en.wikipedia.org/wiki/JavaScript" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/js.svg" class="w-20 h-20">
    </a>
    <a href="https://expressjs.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/express.svg" class="w-20 h-20">
    </a>
    <a href="http://flutter.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/flutter.svg" class="w-20 h-20">
    </a>
    <a href="https://code.visualstudio.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/vscode.svg" class="w-20 h-20">
    </a>
    <a href="https://git-scm.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/git.svg" class="w-20 h-20">
    </a>
    <a href="https://spartan.ng/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/images/spartan.png" class="w-20 h-20">
    </a>

    <!-- >copie<!-->
    <a href="https://www.typescriptlang.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/typescript.svg" class="w-20 h-20">
    </a>
    <a href="https://tailwindcss.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/tailwind.svg" class="w-20 h-20">
    </a>
    <a href="https://angular.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/angular.svg" class="w-20 h-20">
    </a>
    <a href="https://www.java.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/java.svg" class="w-20 h-20">
    </a>
    <a href="https://spring.io/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/spring.svg" class="w-20 h-20">
    </a>
    <a href="https://vite.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/vite.svg" class="w-20 h-20">
    </a>
    <a href="https://react.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/react.svg" class="w-20 h-20">
    </a>
    <a href="https://en.wikipedia.org/wiki/JavaScript" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/js.svg" class="w-20 h-20">
    </a>
    <a href="https://expressjs.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/express.svg" class="w-20 h-20">
    </a>
    <a href="http://flutter.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/flutter.svg" class="w-20 h-20">
    </a>
    <a href="https://code.visualstudio.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/vscode.svg" class="w-20 h-20">
    </a>
    <a href="https://git-scm.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/git.svg" class="w-20 h-20">
    </a>
    <a href="https://spartan.ng/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/images/spartan.png" class="w-20 h-20">
    </a>
  </div>
</div>

<div class="overflow-hidden w-full mt-5">
  <div class="animate-scroll-reverse gap-4"
       (mouseenter)="pauseScroll($event)"
       (mouseleave)="resumeScroll($event)">
    <a href="https://www.php.net/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/php.svg" class="w-20 h-20">
    </a>
    <a href="https://www.python.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/python.svg" class="w-20 h-20">
    </a>
    <a href="https://www.c-language.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/c.svg" class="w-20 h-20">
    </a>
    <a href="https://www.postgresql.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/postgre.svg" class="w-20 h-20">
    </a>
    <a href="https://maven.apache.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/maven.svg" class="w-20 h-20">
    </a>
    <a href="https://www.jetbrains.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/jetbrains.svg" class="w-20 h-20">
    </a>
    <a href="https://www.usebruno.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/bruno.svg" class="w-20 h-20">
    </a>
    <a href="https://zed.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/zed.svg" class="w-20 h-20">
    </a>
    <a href="https://www.haskell.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/haskell.svg" class="w-20 h-20">
    </a>
    <a href="https://en.wikipedia.org/wiki/Linux" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/linux.svg" class="w-20 h-20">
    </a>
    <a href="https://en.wikipedia.org/wiki/Markdown" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/md.svg" class="w-20 h-20">
    </a>
    <a href="https://ubuntu.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/ubuntu.svg" class="w-20 h-20">
    </a>
    <a href="https://dart.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/dart.svg" class="w-20 h-20">
    </a>
    <!-- >COPIE<!-->
    <a href="https://www.php.net/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/php.svg" class="w-20 h-20">
    </a>
    <a href="https://www.python.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/python.svg" class="w-20 h-20">
    </a>
    <a href="https://www.c-language.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/c.svg" class="w-20 h-20">
    </a>
    <a href="https://www.postgresql.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/postgre.svg" class="w-20 h-20">
    </a>
    <a href="https://maven.apache.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/maven.svg" class="w-20 h-20">
    </a>
    <a href="https://www.jetbrains.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/jetbrains.svg" class="w-20 h-20">
    </a>
    <a href="https://www.usebruno.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/bruno.svg" class="w-20 h-20">
    </a>
    <a href="https://zed.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/zed.svg" class="w-20 h-20">
    </a>
    <a href="https://www.haskell.org/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/haskell.svg" class="w-20 h-20">
    </a>
    <a href="https://en.wikipedia.org/wiki/Linux" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/linux.svg" class="w-20 h-20">
    </a>
    <a href="https://en.wikipedia.org/wiki/Markdown" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/md.svg" class="w-20 h-20">
    </a>
    <a href="https://ubuntu.com/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/ubuntu.svg" class="w-20 h-20">
    </a>
    <a href="https://dart.dev/" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/dart.svg" class="w-20 h-20">
    </a>
    <a href="https://developer.android.com/studio" class="w-20 h-20 flex-shrink-0">
      <img src="assets/svg/android-studio.svg" class="w-20 h-20">
    </a>
  </div>
</div>
